.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
 button{
  border-radius: 50%;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: medium;
  font-style: italic;
    font-family: 'Indie Flower' bold;
    background-color: rgba(207, 14, 91, 0.82);
    border: 0ch;
     cursor: pointer;

 }

 button:active{
  transform: scale(0.95); /* shrink on click */
    background-color: rgba(170, 10, 75, 0.85); /* slightly darker for click */
 }